/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Fira Mono', monospace;
*/
/*  *  */
  *{
    margin: 0;
    padding: 0;
  }

/* BODY */
  body{
    font-family: 'Fira Mono', monospace;
    min-height: 1000px;
  }

/* TOPO */
  .topo{
    min-height: 50px;
    display: block;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 99999;
  }
  header{

  }
      .topo .logo a{
        
      }
        .topo .logo img{
          max-width: 100px;
          display: block;
          height: auto;
        }
    .topo .navbar{
      margin: 0
    }
      .topo .navbar button{
        display: none;
        border: 1px solid #fff;
        margin: 0 20px;
      } 
        .topo .navbar button span{
          background: #fff;

        }  
      .topo .navbar .navbar-header{
        float: initial;
        width: 100%;
      } 
        .topo .navbar .navbar-header nav{
          border-top: initial;
          -webkit-box-shadow: initial;
          box-shadow: initial;
        }  
          .topo .navbar .navbar-header nav ul{
            float: initial;
            width: 100%;
            text-align: right;
            font-size: 0;
          } 
            .topo .navbar .navbar-header nav ul li{
              float: initial;
              display: inline-block;
            }
              .topo .navbar .navbar-header nav ul li a{
                font-family: 'Roboto Slab', serif;
                font-size: 17px;
                text-transform: uppercase;
                color: #fff;
                transition:All .5s ease;
                -webkit-transition:All .5s ease;
                -moz-transition:All .5s ease;
                -o-transition:All .5s ease;  
              }
                .topo .navbar .navbar-header nav ul li a:hover{
                  color: #000;
                  background: #fff!important; 
                  transition:All .5s ease;
                  -webkit-transition:All .5s ease;
                  -moz-transition:All .5s ease;
                  -o-transition:All .5s ease;
                }
                .topo .navbar .navbar-header nav ul li a:active {
                  color: #000;
                }
                .topo .navbar .navbar-header nav ul li a:focus {
                  color: #000;
                  background-color: #fff;
                }

    .logo-fixo{
      margin: 0 auto;
      max-width: 89px;
      display: block;
      height: auto;
    }
    .menu-fixo {
        width: 100%;
        height: 50px;
        background: #000;
        z-index: 9;
        display: block;
        background-color: #000;
    }
    .menu-fixo .navbar-desktop{
      font-family: 'Roboto Slab', serif;
    }
    .menu-fixo .navbar-desktop > li {
      display: inline-block;

    }
      .menu-fixo .navbar-desktop > li > a {
        color: #FFF;
        padding: 14px 27px;
        text-transform: uppercase;
      }
      .menu-fixo .navbar-desktop > li > a:hover{
        color:#000;
        background: #fff;
        transition: ALL .3s ease;
        -webkit-transition:ALL .3s ease;
        -moz-transition:ALL .3s ease;
        -o-transition:ALL .3s ease;
      }
    .fixado {
      position: fixed;
      top: 0;
      transition: all linear .4s;
      -webkit-transition:all linear .4s ;
      -moz-transition:all linear .4s ;
      -o-transition:all linear .4s ;
    }

/*FOOTER*/
  .rodape{
    text-align: center;
    min-height: 212px;
    padding-top: 40px;
    background-color: #313131;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
  }
    .rodape .redesSociais{

    }
      .rodape .redesSociais a{
        text-decoration: none;
        color: #fff;
        font-size: 35px;
        margin: 0 10px;
      } 
      .rodape .copyright{
        margin-top: 50px;
      }   
      .rodape .copyright p{
        font-family: 'Roboto Slab', serif;
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: 100;
        margin: 0;
      }       

/*COPYRIGHT*/
  .copyright{

  }
    .copyright p{

    }
      .copyright i{

    }


/*PÁGINA INICIAL*/
    
  .pg-contato{

    }

/*PÁGINA INICIAL*/
  .pg-contato {
  }
    .pg-contato section.contactPortfolio{
    }
       .pg-contato section.contactPortfolio .imagemContato{
          margin: 15px;
          padding: 15px;
        }
         .pg-contato section.contactPortfolio .imagemContato figure{

        } .pg-contato section.contactPortfolio .imagemContato figure img{
              display: block;
              height: auto;
              margin: 0 auto;
        } 
  
  
    .pg-contato section.contactPortfolio {
      background-image: url("../img/fundoContato.jpg");
      padding-top: 60px;
      padding-bottom: 80px;
      width: 100%;
      background-attachment: fixed!important;
      padding-bottom: 100px!important;
      background-position: center!important;
      background-size: cover !important;
      min-height: 225px;

    }
    .pg-contato section.contactPortfolio{
         
      
    }
   
      .pg-contato section.contactPortfolio h6 {
          padding-left: 20px;
          width: 100%;
          min-height: 50px;
          font-size: 17px;
          font-family: var(--fontMontserrat);
          color: #fff;
          text-transform: uppercase;
          border-bottom: 15px solid #2f2f2f;
      }
      .pg-contato section.contactPortfolio .fundoPai{
          position: relative;
          min-height: 448px;
          width: 100%;
          
      }
     .pg-contato section.contactPortfolio .fundoBorrado{
        position: absolute;
        background-image: url(../img/fundoContato.jpg);
        background-attachment: fixed!important;
        background-position: center!important;
        background-size: cover !important;
        z-index: 1;
        width: 100%;
        height: auto;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        height: 74%;
            
            
        }


      .pg-contato section.contactPortfolio form {
          position: absolute;
          background: #353535d6;
          padding: 11px;
          z-index: 3;
          width: 100%;
          height: auto;
          
           
        }
        .pg-contato section.contactPortfolio form .info{
          padding-right: 35px;
        }
        .pg-contato section.contactPortfolio form label{
          color: #fff;
          text-transform: uppercase;
          margin: 10px 0;
        }
         .pg-contato section.contactPortfolio form input[type="text"]{

            display: block;
            width: 100%;
            max-width: 450px;
            margin-top: 10px;
            min-height: 30px;
            padding: 8px 20px;
            border: 1px solid #b0aeb1;
            background: #fff;
      }  
            .pg-contato section.contactPortfolio form textarea{
                display: block;
                background-color: #fff;
                border: 1px solid #b0aeb1;
                width: 100%;
                margin-top: 10px;
                min-height: 138px;
                max-height: 161px;
                resize: none; 
           } 
              .pg-contato section.contactPortfolio form  .button {
                  text-align: right;                
              }
             .pg-contato section.contactPortfolio form  input[type="submit"] {
                  width: 100%;
                  max-width: 111px;
                  display: inline-block;
                  margin-top: 14px;
                  min-height: 40px;
                  background: #000;
                  color: #fff;
                  text-transform: uppercase;
                  border: solid 2px transparent;
                  font-size: 20px;
              } 
              .pg-contato section.contactPortfolio form  input[type="submit"]:hover {
                   border: solid 2px #fff;
                
              }
     
  @media(max-width: 1367px){
    
  }
  @media(max-width: 1200px){
  }

  @media(max-width: 991px){
    .pg-contato section.contactPortfolio {
    }
           
  }
  @media(max-width: 850px){
   
  }
  @media(max-width: 767px){
    .pg-contato section.contactPortfolio h6 {
      font-size: 18px;
      padding: 0 10px;  
    }
    
    .rodape ul.socialNetworks {
      position: initial;
      margin: 30px auto 0;
    }
    .rodape p.copyright {
      text-align: center;
      margin-top: 41px;
      font-size: 20px;
    }
    .rodape a {
      margin: 0 auto;
    }
   
    .topo .navbar button {
      border: 1px solid #697a81;
      float: initial;
      position: absolute;
      right: 20px;
      top: -50px;
    }
    .topo .navbar button span {
      border: 1px solid #697a81;
    }
    .topo .navbar .navbar-header nav.navbar-collapse ul li {
      float: initial;
      display: block;
      text-transform: uppercase;
      text-align: left;
      width: 100%;
      max-width: 150px;
    }
    .topo .navbar .navbar-header nav.navbar-collapse ul {
      width: 100%;
      background: #f5dddf;
      margin: 0;
    }
    .topo a.logoPlataforma {
      text-align: center;
      display: block;
      padding-left: 0;
      background: #f5dddf;
    }
    .topo .navbar .navbar-header nav.navbar-collapse{
      border-top: 0px solid transparent;
      box-shadow: none;
    }
    .pg-contato section.contactPortfolio .imagemContato figure img{
      padding: 25px;
    }

    .pg-contato section.contactPortfolio form .button{
      text-align: left;
    }
    .pg-contato section.contactPortfolio form .info {
       padding: 0 10px;
    }
    .pg-contato section.contactPortfolio form .textarea, .pg-contato section.contactPortfolio form .button {
       padding: 0 10px;
    }
    .pg-contato section.contactPortfolio .imagemContato {
    margin: 30px;
    padding: 38px;
    }
  }
  @media(max-width: 610px){
   
    .topo .navbar button{
      top: -47px;
    }
    .pg-contato section.contactPortfolio .imagemContato {
      margin: 15px 0;
      padding: 15px 0;
}
  
  }
  @media(max-width: 520px){
   
  }
  
  @media(max-width: 445px){
 
  }

  @media(max-width: 425px){
   
  }
  @media(max-width: 320px){
  }


    


/*@MEDIA QUERY*/
  @media(max-width: 1200px){
 
  }

  @media(max-width: 991px){
    
  }
  @media(max-width: 860px){
    
  }
  @media(max-width: 767px){
   
    
   .rodape .copyright p {
        padding-bottom: 20px;
      }
   .rodape .copyright {
        margin-top: 29px;
        padding: 10px;
      }
      .topo .navbar button {
        display: block;
        position: absolute;
        right: 0;
        top: -43px;
      }
      .topo .navbar {
        background: #000;
      }
      .topo .navbar .navbar-header nav ul li {
        display: block;
        text-align: left;
      }
      
      .topo .logo img {
        margin: 0 auto;
        margin-top: 5px;
      }
      
      .nav>li>a {
        padding: 10px 20px;
      }
  }
  @media(max-width: 500px) {
    
  }

  @media(max-width: 425px){
  
      .rodape .redesSociais a{
        font-size: 25px;
      }
         
  }

  @media(max-width: 390px){
   
  
  }

   @media(max-width: 320px){
   
  }
