/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Fira Mono', monospace;
*/
/*  *  */
  *{
    margin: 0;
    padding: 0;
  }

/* BODY */
  body{
    font-family: 'Fira Mono', monospace;
    min-height: 1000px;
  }

/* TOPO */
  .topo{
    min-height: 50px;
    display: block;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 99999;
  }
  header{

  }
      .topo .logo a{
        
      }
        .topo .logo img{
          max-width: 100px;
          display: block;
          height: auto;
        }
    .topo .navbar{
      margin: 0
    }
      .topo .navbar button{
        display: none;
        border: 1px solid #fff;
        margin: 0 20px;
      } 
        .topo .navbar button span{
          background: #fff;

        }  
      .topo .navbar .navbar-header{
        float: initial;
        width: 100%;
      } 
        .topo .navbar .navbar-header nav{
          border-top: initial;
          -webkit-box-shadow: initial;
          box-shadow: initial;
        }  
          .topo .navbar .navbar-header nav ul{
            float: initial;
            width: 100%;
            text-align: right;
            font-size: 0;
          } 
            .topo .navbar .navbar-header nav ul li{
              float: initial;
              display: inline-block;
            }
              .topo .navbar .navbar-header nav ul li a{
                font-family: 'Roboto Slab', serif;
                font-size: 17px;
                text-transform: uppercase;
                color: #fff;
                transition:All .5s ease;
                -webkit-transition:All .5s ease;
                -moz-transition:All .5s ease;
                -o-transition:All .5s ease;  
              }
                .topo .navbar .navbar-header nav ul li a:hover{
                  color: #000;
                  background: #fff!important; 
                  transition:All .5s ease;
                  -webkit-transition:All .5s ease;
                  -moz-transition:All .5s ease;
                  -o-transition:All .5s ease;
                }
                .topo .navbar .navbar-header nav ul li a:active {
                  color: #000;
                }
                .topo .navbar .navbar-header nav ul li a:focus {
                  color: #000;
                  background-color: #fff;
                }

    .logo-fixo{
      margin: 0 auto;
      max-width: 89px;
      display: block;
      height: auto;
    }
    .menu-fixo {
        width: 100%;
        height: 50px;
        background: #000;
        z-index: 9;
        display: block;
        background-color: #000;
    }
    .menu-fixo .navbar-desktop{
      font-family: 'Roboto Slab', serif;
    }
    .menu-fixo .navbar-desktop > li {
      display: inline-block;

    }
      .menu-fixo .navbar-desktop > li > a {
        color: #FFF;
        padding: 14px 27px;
        text-transform: uppercase;
      }
      .menu-fixo .navbar-desktop > li > a:hover{
        color:#000;
        background: #fff;
        transition: ALL .3s ease;
        -webkit-transition:ALL .3s ease;
        -moz-transition:ALL .3s ease;
        -o-transition:ALL .3s ease;
      }
    .fixado {
      position: fixed;
      top: 0;
      transition: all linear .4s;
      -webkit-transition:all linear .4s ;
      -moz-transition:all linear .4s ;
      -o-transition:all linear .4s ;
    }

/*FOOTER*/
  .rodape{
    text-align: center;
    min-height: 212px;
    padding-top: 40px;
    background-color: #313131;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
  }
    .rodape .redesSociais{

    }
      .rodape .redesSociais a{
        text-decoration: none;
        color: #fff;
        font-size: 35px;
        margin: 0 10px;
      } 
      .rodape .copyright{
        margin-top: 50px;
      }   
      .rodape .copyright p{
        font-family: 'Roboto Slab', serif;
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: 100;
        margin: 0;
      }       

/*COPYRIGHT*/
  .copyright{

  }
    .copyright p{

    }
      .copyright i{

    }

/*PG*/
  .pg{
    
  }
    .pg .verMAisbottom{
      margin: 20px;
      text-align: center;
    }
      .pg .verMAisbottom a{
        font-family: 'Roboto Slab', serif;
        font-weight: 100;
        color: #000;
        font-size: 19px;
        padding: 10px 60px;
        border: solid 3px #000;
        text-transform: uppercase;
        text-decoration: none;
      }
        .pg .verMAisbottom a:hover{
          background: #000;
          color: #fff;
        }
    .pg .tituloSessao{
      padding-bottom: 50px;
      border-top: solid #ccc 1px;
    }

/*PÁGINA INICIAL*/
    
    .pg-inicial{

    }
    .pg-inicial .carrosselDestaqueTopo{

    }
      .pg-inicial .carrosselDestaqueTopo .item{
          background-position: center!important;
          background-size: cover!important;
          display: block;
          position: relative;
          height: 893px;
          width: 100%;
      }
        .pg-inicial .carrosselDestaqueTopo .item video{
          top: 0;
          left: 0;
          width: 100%;
          height: 110%;
          object-fit: cover;
       }
    .pg-inicial .sessaoSobreMimTopo {
      background: url(../img/opacidade-4.png);    
      background-attachment: fixed;
      padding-bottom: 100px;
      background-position: center;
      background-size: cover ;
      padding-top: 100px;
    }
      .pg-inicial .sessaoSobreMimTopo  .imgTopo{

      }
        .pg-inicial .sessaoSobreMimTopo  figure{
            position: relative;
        }
          .pg-inicial .sessaoSobreMimTopo .imgTopo  figure img{
            margin: 0 auto;
            width: 100%;
            height: auto;
          
          }
          .pg-inicial .sessaoSobreMimTopo .imgTopo  figure img{ 
            box-shadow: -1px 0px 20px 5px #1f1f1f69;  
          }
            .pg-inicial .sessaoSobreMimTopo  figure figcaption{
                position: absolute;
                color: #fff;
                top: 289px;
                width: 100%;
                max-width: 397px;
                right: 110px;
                font-size: 24px;
                text-align: center;
            }
      .pg-inicial .sessaoSobreMimTopo  .imagemSobreMimTopo{

      }
        .pg-inicial .sessaoSobreMimTopo  .imagemSobreMimTopo figure{

        }
          .pg-inicial .sessaoSobreMimTopo  .imagemSobreMimTopo figure img{
              width: 51%;    
              display: block;
              margin: 0 auto;
          }
      
      .pg-inicial .sessaoSobreMimTopo  .textoSobreMimTopo .tituloPrincipal{
           
      }

      .pg-inicial .sessaoSobreMimTopo  .textoSobreMimTopo .tituloPrincipal h1{
          font-family: 'Roboto Slab', serif;
          text-transform: uppercase;
          font-size: 30px;
          text-align: center;         
      }


      .pg-inicial .sessaoSobreMimTopo  .textoSobreMimTopo{
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
      }
        .pg-inicial .sessaoSobreMimTopo article .bordaSuperiorTextoSobreMimTopo {
          position: absolute;
          top: 0;
          left: 0;
          max-width: 293px;
          max-height: 332px;
          width: 100%;
          height: 100%;
          border-left: 1px solid #000;
          border-top: 1px solid #000;

        }
        .pg-inicial .sessaoSobreMimTopo  article{
          font-size: 16px;
          line-height: 28px;
          margin: 0 auto;
          width: 100%;
          max-width: 600px;
          position: relative;
       }
          .pg-inicial .sessaoSobreMimTopo  article .textoSobreMimTopo{
            width: 100%;
            max-width:500px;
            margin: 0 auto;
            padding: 25px 0;
          }
            .pg-inicial .sessaoSobreMimTopo  article .textoSobreMimTopo strong{
              color: #000 ;
              font-size: 80px;
              font-weight: 500;
              margin-bottom: 20px;
              display: block
            }
            .pg-inicial .sessaoSobreMimTopo  article .textoSobreMimTopo p{
              color: #000;
              font-size: 18px;
              margin-bottom: 25px;
            }
            .pg-inicial .sessaoSobreMimTopo  article .textoSobreMimTopo .imagemLogoSobreMim{
            }
                .pg-inicial .sessaoSobreMimTopo  article .textoSobreMimTopo .imagemLogoSobreMim .logoAbaixoDoTexto{
                  position: relative;
                  width: 100px;
                  margin: 0 auto;
                } 
                  .pg-inicial .sessaoSobreMimTopo  article .textoSobreMimTopo .imagemLogoSobreMim .logoAbaixoDoTexto img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                  }
               .pg-inicial .sessaoSobreMimTopo  article .textoSobreMimTopo .imagemLogoSobreMim figure img{
                  display: block;
                  margin: 0 auto;
                }
        .pg-inicial .sessaoSobreMimTopo article .bordaInferiorTextoSobreMimTopo {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          max-width: 293px;
          max-height: 332px;
          border-right: 1px solid #000;
          border-bottom: 1px solid #000;
        }


    .paralaxCentral{
         
      background-attachment: fixed!important;
      padding-bottom: 100px!important;
      background-position: center!important;
      background-size: cover !important;
      min-height: 225px;
    }

    .pg-inicial .carrosselDestaque{ 
        position: relative;
    }
    .pg-inicial .carrosselDestaque h6{ 
      font-size: 50px;
      padding-top: 80px;
      margin: 21px 45px 26px;
      font-weight: 500;
      color: #000;
      font-family: 'Roboto slab',serif;
    }
      .pg-inicial .carrosselDestaque .item{ 
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE */
        background-size: cover!important;
        background-position: center!important;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 224.5px;
        min-height: 650px;
      }
      .pg-inicial .carrosselDestaque .item:hover{ 
        -webkit-filter: none; 
        filter: none; 
        transition: all linear .3s;
        -webkit-transition:all linear .3s ;
        -moz-transition:all linear .3s ;
        -o-transition:all linear .3s ;
     
      }
        .pg-inicial .carrosselDestaque .item a{ 
    
        }
          .pg-inicial .carrosselDestaque .item a img{ 
            visibility: hidden;
            width: 100%;
            height: auto;
          }
    .pg-inicial .carrosselDestaque .areaCarrossel{
      position: relative;
    }
    .pg-inicial .carrosselDestaque .detalhesCarrosselServicos{
      width: 100%;
      position: absolute;
      height: 100%;
      background: url(../img/fundo-desfocado.png);
      background-size: cover;
      background-position: center;
      z-index: 999;
      display: none;
    }
      .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .fecharModalDetalhesPortfolio {
        position: absolute;
        top: 16px;
        right: 25px;
        width: 30px;
        height: 30px;
        color: #fff;
        font-size: 30px
      }
      .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .fecharModalDetalhesPortfolio:hover {
        cursor: pointer;  
        color: #ff0000;
        transition: color .5s;
        -webkit-transition:all .5s;
        -moz-transition:all .5s;
        -o-transition:all .5s; 
      }
      .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .areaTexto{
        width: 100%;
        max-width: 450px;
        padding-top: 40px;
        padding-left: 30px;
        position: relative;
        z-index: 1;
      }
        .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .areaTexto h2{
          border-left: solid 6px #fff;
          font-size: 55px;
          color: #fff;
          padding-left: 10px;
          line-height: 65px;
          padding: 10px 0px 10px 20px;
          font-family: 'Roboto Slab', serif;
          font-weight: 400;
        }
        .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .areaTexto a{
          display: block;
          text-align: center;
          background: #2f2f2f;
          border-radius: 24px;
          max-width: 182px;
          color: #fff;
          height: 50px;
          line-height: 50px;
          text-decoration: none;
          font-family: 'Rubik', sans-serif;
          border: 1px solid transparent;
          margin: 190px auto 0;
        }
        .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .areaTexto a:hover{
          background: #ffffff;
          color: #000;
          border: 1px solid #000;
         -webkit-transition:all .3s;
          -moz-transition:all .3s;
          -o-transition:all .3s; 
        }
      .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .imagemCentralizada{
          max-width: 245px;
          position: absolute;
          top: 0;
          left: 50%;
          background-size: cover!important;
          background-position: center!important;
          height: 100%;
          width: 100%;
          

      }
        .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .imagemCentralizada img{
          width: 100%;
          height: 100%;
          min-width: 263px;
          display: block;
        } 


    .pg-inicial .sessaoSobreMimCentro { 
      /* background: url(../img/fundoSobreMim.png);    
      background-attachment: fixed;
      background-position: center;
      background-size: cover ; */
      background: #fff;
      
    
    }

    .pg-inicial .sessaoSobreMimCentro .row{           
       padding: 100px 0;          
    }
      .pg-inicial .sessaoSobreMimCentro .bordaSuperiorTextoSobreMimCentro{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 293px;
        min-height: 332px;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
      }
      .pg-inicial .sessaoSobreMimCentro .bordaInferiorTextoSobreMimCentro {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 293px;
        min-height: 332px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
      }
      .pg-inicial .sessaoSobreMimCentro  h6{ 
        font-size: 33px;
        text-align: center;
        padding: 0 0 20px 0;
        font-family: 'Roboto slab',serif;
     
      }
      .pg-inicial .sessaoSobreMimCentro  article{ 
          font-size: 16px;
          line-height: 28px;
          margin: 0 auto;
          position: relative;
          padding: 25px 0;
          width: 100%;
          max-width: 600px; 
      }
        .pg-inicial .sessaoSobreMimCentro  article  .textoSobreMimCentro{ 
          margin: 0 auto;
          max-width: 500px;
          padding-top: 0;
          font-family: 'Fira Mono', monospace;
        }
          .pg-inicial .sessaoSobreMimCentro  article  .textoSobreMimCentro p{ 
              color: #000;
              font-size: 18px;
              margin-bottom: 25px;
          }
           .pg-inicial .sessaoSobreMimCentro  article .textoSobreMimCentro .imagemLogoSobreMim{
               
            }
              .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro .imagemLogoSobreMim figure {
                position: relative;
                width: 100px;
                margin: 0 auto;
              }
               .pg-inicial .sessaoSobreMimCentro  article .textoSobreMimCentro .imagemLogoSobreMim figure img{
                display: block;
                width: 100%;
                height: auto;
                margin: 0 auto;
              }
        .pg-inicial .sessaoSobreMimCentro  .imagemCentroParte1{ 
            text-align: right;
        }
          .pg-inicial .sessaoSobreMimCentro  .imagemCentroParte1 figure{

          }
            .pg-inicial .sessaoSobreMimCentro  .imagemCentroParte1 figure img{ 
              display: inline-block;
              width: 86%;
            }
 
            .pg-inicial .sessaoSobreMimCentro .imagemCentroParte1 figure img {
              box-shadow:-1px 0px 20px 5px #1f1f1f69;
            }

      .pg-inicial .sessaoSobreMimCentro  .imagemCentroParte2{ 

      
      } 
        .pg-inicial .sessaoSobreMimCentro  .imagemCentroParte2 figure{ 
          box-shadow: 5px 0px 20px 5px #1f1f1f69;
          width: 86%;
          display: block
      
        }
          .pg-inicial .sessaoSobreMimCentro  .imagemCentroParte2 figure img{             
              width: 100%;
              height: auto;              
              display: block;
             

          }
      .pg-inicial .sessaoSobreMimCentro  article { 
      
      }
      
        .pg-inicial .sessaoSobreMimCentro  article .textoSobreMimCentroParte2{
          width: 100%;
          position: relative;
          margin: 0 auto;
          max-width: 500px;
        }
          .pg-inicial .sessaoSobreMimCentro  article .bordaSuperiorTextoSobreMimCentroParte2{
            position: absolute;
            top: 0;
            left: 0;
            min-width: 293px;
            min-height: 332px;
            border-left: 1px solid #000;
            z-index: 0;
            border-top: 1px solid #000;
          }
          .pg-inicial .sessaoSobreMimCentro  article  .bordaInferiorTextoSobreMimCentroParte2 {
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 293px;
            min-height: 332px;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
            z-index: 1;
          }
          .pg-inicial .sessaoSobreMimCentro  article .textoSobreMimCentroParte2 p{ 
            color: #000;
            font-size: 18px;
            font-family: 'Fira Mono', monospace;
            z-index: 2;
            margin: 0;
          }
          .pg-inicial .sessaoSobreMimCentro  article .textoSobreMimCentroParte2 a{ 
            font-weight: 700;
            color: #333;
            display: block;
            text-align: right;
            position: relative;
            letter-spacing: 2px;
            width: 100%;
            padding-right: 45px;
            padding-bottom: 20px;
            z-index: 2;
            text-decoration: line-through;
          }
            .pg-inicial .sessaoSobreMimCentro  article .textoSobreMimCentroParte2 a:hover{
              text-decoration: none;
              transition: all linear linear .5s;
              -webkit-transition:all linear .5s;
              -moz-transition:all linear .5s;
              -o-transition:all linear .5s; 
            }

           .pg-inicial .sessaoSobreMimCentro  article .textoSobreMimCentroParte2 a .link:before{ 
              
          }

      .pg-inicial .minhaEstatistica{ 

        
      }
        .pg-inicial .estatisticas{ 
        
        }
          .pg-inicial  .estatisticas figure{ 
        
          }
            .pg-inicial  .estatisticas figure img{ 
              display: block;
              width: 68%;
              margin: 0 auto;            
          }
      .pg-inicial .sessaoQualidades{ 

        
      }
        .pg-inicial .sessaoQualidades .areaQualidades{ 
          padding-top: 45px;
        }
          .pg-inicial .sessaoQualidades .areaQualidades figure{ 
            text-align: center;
            
          }
            .pg-inicial .sessaoQualidades .areaQualidades figure img{ 
            
           }
          .pg-inicial .sessaoQualidades .areaQualidades .textoQualidades{ 

           }
            .pg-inicial .sessaoQualidades .areaQualidades .textoQualidades p{ 
              padding-top: 218px;
              font-size: 27px;
              font-family: 'Roboto slab', serif;
            }
          .pg-inicial .sessaoQualidades .textoQualidades2{ 
            position: relative;
          }
            .pg-inicial .sessaoQualidades  .textoQualidades2 p{ 
              font-size: 27px;
              font-family: 'Roboto slab', serif;
              text-align: right;
              margin-top: 100px;
            }
          .pg-inicial .sessaoQualidades figure{ 
            text-align: center; 
          }

      .pg-inicial .carrosselDepoimentos{ 
          background: url(../img/background-depoimentos.png);    
          background-attachment: fixed;
          background-position: center;
          background-size: cover ;
          color: #fff;
          font-family: 'Fira Mono', monospace;
          min-height: 600px;
      }
        .pg-inicial .carrosselDepoimentos h6{ 
          margin-left: 44px;
          padding-left: 41px;
          text-align: left;
          padding: 30px 10px;
          font-size: 49px;
          margin-top: 0;
          font-family: 'Roboto slab',serif;
          display: block;
          max-width: 500px;
          font-weight: 300;
       }
        .pg-inicial .carrosselDepoimentos .item{ 
          min-height: 315px;
        }
          .pg-inicial .carrosselDepoimentos .item figure{ 
              display: block;
              width: 140px;
              min-height: 140px;
              margin: 20px auto 0;
              background-position: center!important;
              background-size: cover!important;
          }
            .pg-inicial .carrosselDepoimentos .item figure img{ 
                border-radius: 100%;
            }

            .pg-inicial .carrosselDepoimentos .item  h4{ 
              color: #fff;
              text-align: center;
              font-size: 22px;
              margin: 16px 0;
            }
          .pg-inicial .carrosselDepoimentos .item article{ 
                color: #434343;
                width: 100%;
                max-width: 730px;
                margin: 0 auto;
                margin-top: 50px;
                text-align: center;
                font-family: 'Fira Mono', monospace;


          }
            .pg-inicial .carrosselDepoimentos .item article p{ 
              color: #fff; 
              font-size: 24px;

                
            }
            .pg-inicial .carrosselDepoimentos .item article h2{ 
                  font-weight: bold;
                  font-size: 20px;
      
            }



      .pg-inicial .carrosselParceria{   
         background: url(../img/background-parceiros.png);    
        background-attachment: fixed;
        background-position: center;
        background-size: cover ;
        position: relative;
     
      }
        .pg-inicial .carrosselParceria h6{ 
          font-size: 54px;
          padding: 50px 0 0 0;
          color: #000;
          margin-top: 0!important;
          padding-left: 50px;
          margin-bottom: 85px;
          font-family: 'Roboto slab' , serif;
          display: block;
          max-width: 500px;
    }
      .pg-inicial .carrosselParceria .owl-carousel.owl-loaded{
        max-width: 1178px;
        margin: 0 auto;
      }
        .pg-inicial .carrosselParceria .item{ 
            max-height: 200px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE */
        }
        .pg-inicial .carrosselParceria .item:hover {
          filter: none;
          transition: all linear .5s;
          -webkit-transition:all .5s;
          -moz-transition:all .5s;
          -o-transition:all .5s; 
        }
          .pg-inicial .carrosselParceria .item a{ 
      
          }
            .pg-inicial .carrosselParceria .item a img{ 
              display: block;
              width: 100%;
              max-width: 225px;
      
            }
        .pg-inicial .carrosselParceria .botoesCarrosselParceria {
          width: 100%;
          
        }
          .pg-inicial .carrosselParceria .botoesCarrosselParceria button {
            background: transparent;
            border:none;
            outline: none;
            position: absolute;
            z-index: 999;
            top: 55%;
            transform: translateY(-50%);
            -webkit-transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            -o-transform:translateY(-50%);
          }
            .pg-inicial .carrosselParceria .botoesCarrosselParceria #flechaEsquerda {
              left: 30px;
            }
            .pg-inicial .carrosselParceria .botoesCarrosselParceria #flechaDireita {
              right: 30px;
            }

       .pg-inicial .tornarParceiro{ 
          text-align: center;
          margin-top: 25px;                   
      
        }
          .pg-inicial .abrirModalPaceiro{ 
            background-color: #9a9898;
            text-align: center;
            padding: 10px 4px;
            width: 100%;
            max-width: 250px;
            display: inline-block;
            margin: 25px 0;
            text-transform: uppercase;
            border-radius: 28px;
            border: 2px solid #9a9898;
            text-transform: uppercase;
            font-weight: bold;
          }
          .pg-inicial .abrirModalPaceiro:hover{ 
               border-color: #333333 ;  
               cursor: pointer;
               transition:all linear .3s ;
              -webkit-transition:all linear .3s ;
              -moz-transition:all linear .3s ;
              -o-transition:all linear .3s ;             
          }

          .pg-inicial .abrirModalPaceiro .abrirModalPaceiro{ 
        
          }
            .pg-inicial .abrirModalPaceiro a{ 
              font-size: 18px;
              color: #000;
              text-decoration: none;
              font-weight: 500;
              font-family: 'Roboto slab', serif;
            }

           .pg-inicial .instagramFooter{

           }
           .pg-inicial .instagramFooter figure{
            
           } 
           .pg-inicial .instagramFooter h6{
              font-size: 70px;
              background-color: #313131;
              color: #ffff;
              text-align: center;
              padding: 40px;
              margin-top: 0px!important; 
              margin-bottom: 0px!important;
              font-family: 'Roboto Slab', serif; 
              font-weight: 100;
           } 
            .pg-inicial .instagramFooter h6 strong {
              font-weight: 300;
            }
             .pg-inicial .instagramFooter figure img{
                display: block;
                width: 100%;
                height: auto;
             }



/*PÁGINA CONTATO  */
  .pg-contato {
  }
    .pg-contato section.contactPortfolio{
    }
       .pg-contato section.contactPortfolio .imagemContato{
          margin: 15px;
          padding: 15px;
        }
         .pg-contato section.contactPortfolio .imagemContato figure{

        } .pg-contato section.contactPortfolio .imagemContato figure img{
              display: block;
              height: auto;
              margin: 0 auto;
        } 
  
  
    .pg-contato section.contactPortfolio {
      background-image: url("../img/fundoContato.jpg");
      padding-top: 60px;
      padding-bottom: 80px;
      width: 100%;
      background-attachment: fixed!important;
      padding-bottom: 100px!important;
      background-position: center!important;
      background-size: cover !important;
      min-height: 225px;

    }
    .pg-contato section.contactPortfolio{
         
      
    }
   
      .pg-contato section.contactPortfolio h6 {
          font-family: 'Roboto Slab', serif;
          padding-left: 20px;
          width: 100%;
          min-height: 50px;
          font-size: 17px;
          color: #fff;
          text-transform: uppercase;
          border-bottom: 15px solid #2f2f2f;
      }
      .pg-contato section.contactPortfolio .fundoPai{
          position: relative;
          min-height: 448px;
          width: 100%;
          
      }
     .pg-contato section.contactPortfolio .fundoBorrado{
        position: absolute;
        background-image: url(../img/fundoContato.jpg);
        background-attachment: fixed!important;
        background-position: center!important;
        background-size: cover !important;
        z-index: 1;
        width: 100%;
        height: auto;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        height: 74%;
            
            
        }


      .pg-contato section.contactPortfolio form {
          position: absolute;
          background: #353535d6;
          padding: 11px;
          z-index: 3;
          width: 100%;
          height: auto;
          
           
        }
        .pg-contato section.contactPortfolio form .info{
          padding-right: 35px;
        }
        .pg-contato section.contactPortfolio form label{
          color: #fff;
          text-transform: uppercase;
          margin: 10px 0;
          font-family: 'Roboto Slab', serif;
          font-weight: initial;
        }
         .pg-contato section.contactPortfolio form input[type="text"]{

            display: block;
            width: 100%;
            margin-top: 10px;
            min-height: 30px;
            padding: 8px 20px;
            border: 1px solid #b0aeb1;
            background: #fff;
      }  
            .pg-contato section.contactPortfolio form textarea{
                display: block;
                background-color: #fff;
                border: 1px solid #b0aeb1;
                width: 100%;
                margin-top: 10px;
                min-height: 138px;
                max-height: 161px;
                resize: none; 
           } 
              .pg-contato section.contactPortfolio form  .button {
                  text-align: right;                
              }
             .pg-contato section.contactPortfolio form  input[type="submit"] {
                  width: 100%;
                  max-width: 111px;
                  display: inline-block;
                  margin-top: 14px;
                  min-height: 40px;
                  background: #000;
                  color: #fff;
                  text-transform: uppercase;
                  border: solid 2px transparent;
                  font-size: 20px;
              } 
              .pg-contato section.contactPortfolio form  input[type="submit"]:hover {
                   border: solid 2px #fff;
                
              }
 

/*PÁGINA GALERIA*/     
  .pg-galeria{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    z-index: 99999;
  }
  .pg-galeria::-webkit-scrollbar{
    visibility: hidden;
    width: 0;
  }
    .pg-galeria section{
      width: 100%;
      max-width: 1920px;
      height:auto;
      background-color: #464746;

    }
      .pg-galeria section h6 {

      }
      
      .pg-galeria section .descricaoGaleria {
        width: 100%;
        max-width: 1920px;
        height: auto;
        min-height: 700px;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-position: center!important;
        position: relative;
        z-index: 1;
      } 
      .pg-galeria section .descricaoGaleria:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top,
          rgba(70, 71, 70, 3.85) 0%,
          rgba(70, 71, 70, 0.65) 57%,
          rgba(70, 71, 70, 0.2) 76%,
          transparent 100%);
      }
         .pg-galeria section .descricaoGaleria  .voltarPaginaAnterior {
             display: block;
            width: 100%;
            max-width: 140px;
            height: auto;
            color: #fff;
            font-size: 41px;
            padding-left: 100px;
            padding-top: 40px;
            z-index: 9999;
            position: relative;
          }
            .pg-galeria section .descricaoGaleria .voltarPaginaAnterior:hover{
              cursor: pointer;
            }
        .pg-galeria section .descricaoGaleria .textosGaleria {
          position: relative;
          height: auto;
          width: 100%;
          min-height: 579px;
          max-width: 1166px;
          margin: 50px auto 0;
          margin: 0 auto;
        }
          .pg-galeria section .descricaoGaleria .textosGaleria h2 {
            margin: 0;
            color: #fff;
            font-size: 68px;
            font-family: 'Roboto slab', serif;
            border-left: 9px solid #fff;
            display: block;
            max-width: 433px;
            line-height: 76px;
            padding-left: 22px;
            font-weight: 400;
            margin-top: 30px;
            margin-left: 35px;
          }
          .pg-galeria section .descricaoGaleria .textosGaleria p {
            padding-top: 50px;
            padding-right: 20px;
            color: #fff;
            font-family: 'Hammersmith One', sans-serif;
            font-size: 24px;
            text-align: center;
            width: 100%;
            margin: 72px auto 0;
            height: auto;
          }
      .pg-galeria section .galeria {
        width: 100%;
        max-width: 1920px;
        height: auto;
      } 
        .pg-galeria section .galeria .listaDeImagensGaleria {
          margin: 0 auto;
          height: auto;
        }
          .pg-galeria section .galeria .listaDeImagensGaleria  ul{
            font-size: 0;
            margin: 0;
            padding: 0;
          }
            .pg-galeria section .galeria .listaDeImagensGaleria  ul .fotoGaleria{
              list-style: none;
              display: inline-block;
              width: 33.3%;
              height: 300px;
              min-height: 0;
              margin: 0 auto;
              padding: 0;
            }
              .pg-galeria section .galeria .listaDeImagensGaleria  ul .fotoGaleria figure{
                background-size: cover!important;
                background-position: center!important;
                width: 100%;
                height: auto;
                max-height: 300px;

                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%); 
              } 
                .pg-galeria section .galeria .listaDeImagensGaleria  ul .fotoGaleria figure:hover {
                  -webkit-filter: grayscale(0%);
                  -moz-filter: grayscale(0%);
                  -ms-filter: grayscale(0%);
                  -o-filter: grayscale(0%);
                  filter: grayscale(0%); 


                  transition:all linear .5s ;
                  -webkit-transition:all linear .5s ;
                  -moz-transition:all linear .5s ;
                  -o-transition:all linear .5s ;  
                }
                .pg-galeria section .galeria .listaDeImagensGaleria  ul .fotoGaleria figure img{
                  visibility: hidden;
                  display: block;
                  width: 99%;
                }


/*PÁGINA PARCERIA*/
    .pg-parceria { 
      color: #fff; 
      width: 100%;
      height: 100%;
      min-height: 650px;
      background: url('../img/fundoparceria.jpg');
      font-family: 'Roboto slab', serif;
      font-size:  15px;
      position: fixed;
      top: 0;
      z-index: 999999;
  
    }
    .pg-parceria .fecharModalFormularioParceria {
      position: absolute;
      top: 2%;
      right: 2%;
      width: 30px;
      height: 30px;
      color: #fff;
      font-size: 30px;
    }
    .pg-parceria .fecharModalFormularioParceria:hover {
      cursor: pointer;
      color: #FF0000;
      transition:color .5s ;
      -webkit-transition:color .5s ;
      -moz-transition:color .5s ;
      -o-transition:color .5s ;
    }
   .pg-parceria .formularioParceria {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      padding-top: 60px;
    }
     .pg-parceria .formularioParceria input {
        background: transparent;
        border: 0;
        outline: none;
      }
      .pg-parceria .formularioParceria ::-webkit-input-placeholder  { 
        color:#fff;
        font-size: 17px;
      }
      .pg-parceria .formularioParceria ::-moz-placeholder {
        color:#fff;
        font-size: 17px;
      }
      .pg-parceria .formularioParceria :-moz-placeholder{
        color:#fff;
        font-size: 17px;
      }
      .pg-parceria .formularioParceria :-ms-input-placeholder{
        color:#fff;
        font-size: 17px;
      }
     
     .pg-parceria .formularioParceria input[type="text"] {
        background: 0 0;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #FFF;
        font-family: dincond-bold;
        font-size: 17px;
        font-weight: 400;
        color: #FFF;
        padding: 17px;
        width: 45%;
        display: inline-block;
        margin: 0 5px;
      }

      .pg-parceria .formularioParceria input.nome {
        width: 91%;
        padding: 17px;
      }
     .pg-parceria .formularioParceria span {
        display: inline-block;
        width: 20%;
        padding: 10px;
      }
     .pg-parceria .formularioParceria select {
        display: inline-block;
        width: 25%;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid #fff;
        height: 40px;
        }
       .pg-parceria .formularioParceria select option {
          background: transparent;
          color: #000;
        }
     .pg-parceria .formularioParceria textarea {
        display: block;
        width: 100%;
        max-width: 91%;
        min-height: 100px;
        background: transparent;
        border: 1px solid #fff;
        padding: 17px;
        margin: 10px 5px;
      }
      .pg-parceria .formularioParceria input[type="submit"] {
        border: none;
        outline: none;
        display: block;
        width: 150px;
        height: 40px;
        background-color: #00B259;
        border-radius: 3px;
        text-transform: uppercase;
        transition: background .5s;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        margin: 5px;
      }
      .pg-parceria .formularioParceria input[type="submit"]:hover{
        background-color: #333;
      }


/*EXTRAS*/
  .pg-inicial .carrosselDepoimentos .owl-dots {
      text-align: center;
      padding: 10px 0;
      /*-webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);*/
    }
     .pg-inicial .carrosselDepoimentos .owl-dot{
      display: inline;
    }
     .pg-inicial .carrosselDepoimentos .owl-dot span{
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 6px 7px;
      border: 1px solid transparent;
      border-radius: 20px;
      background: #656565;
    }
     .pg-inicial .carrosselDepoimentos .owl-dot.active span{
      background:#fff;
    }
  .filtroPreto{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); 
  }
  .filtroPretoEBranco{             
    animation: animacaoPretoEBranco 5s;

  }
  @keyframes animacaoPretoEBranco {
    0%   { 
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%); 
    }
    25%  { 
      -webkit-filter: grayscale(75%);
      -moz-filter: grayscale(75%);
      -ms-filter: grayscale(75%);
      -o-filter: grayscale(75%);
      filter: grayscale(75%); 
      }
    50%  { 
      -webkit-filter: grayscale(50%);
      -moz-filter: grayscale(50%);
      -ms-filter: grayscale(50%);
      -o-filter: grayscale(50%);
      filter: grayscale(50%); 
     }
    75%  { 
      -webkit-filter: grayscale(25%);
      -moz-filter: grayscale(25%);
      -ms-filter: grayscale(25%);
      -o-filter: grayscale(25%);
      filter: grayscale(25%); 
     }
    100% { 
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%); 
    }
  }
  ::-webkit-scrollbar{
    background:#fff;width:4px;
  }
  ::-webkit-scrollbar-thumb{
    background:#666;
    -webkit-border-radius:2px;
  }
  .travarScroll {
    overflow: hidden;
  }

  .backToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: 2%;
  }
    .backToTop #subir {
      width: 50px;
      height: 50px;
      position: absolute;
      background: #000;
      color: #fff;
      border-radius: 100%;
      border: 1px solid transparent;
      text-align: center;
      font-size: 25px;    
      z-index: 999;
    }
      .backToTop #subir i {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    .backToTop #subir:hover {
      border: 1px solid #000;
      background: #fff;
      color: #000;
      -webkit-transition: all linear .3s;
      -moz-transition: all linear .3s;
      -o-transition: all linear .3s;
      cursor: pointer;
    }
    .fancybox-overlay,
    .fancybox-overlay-fixed{
      z-index: 99999999999999;
    }
    .navbar {
      min-height: 0;
    }


/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg-inicial .sessaoSobreMimTopo article{
      max-width: 470px;
    } 
    .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo p{
      margin-bottom: 20px;
      font-size: 16px;
     
    }
    .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo .imagemLogoSobreMim figure img{
       display: none;
    }
    .pg-inicial .sessaoSobreMimTopo .textoSobreMimTopo .tituloPrincipal h1{        
        margin: 0px!important;
        font-size: 25px;
    }     
    .pg-inicial .sessaoSobreMimCentro article{
      line-height: 28px;
      max-width: 470px;
      margin-top: 50px;
    }
      .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro p{
        margin-bottom: 0px; 
        font-size: 16px;
        padding: 0px 20px;
        padding-bottom: 10px;
      }
      .pg-inicial .sessaoSobreMimTopo .textoSobreMimTopo .tituloPrincipal h1{        
        margin: 0px!important;
        font-size: 25px;
    }   
    .pg-inicial .sessaoSobreMimCentro h6{
      padding: 20px 0;
    }
    .pg-inicial .sessaoSobreMimCentro .row{
        padding: 30px 0;
    }
    .pg-inicial .sessaoSobreMimCentro .bordaSuperiorTextoSobreMimCentro {
      top: 0;
      left: 0;
    }
    .pg-inicial .sessaoSobreMimCentro .bordaInferiorTextoSobreMimCentro{
      bottom: -53px;
      right: 0;
    }
    .pg-inicial .sessaoSobreMimCentro article .bordaSuperiorTextoSobreMimCentroParte2 {
      top: 0;
      left: 0;
    }
    .pg-inicial .sessaoSobreMimCentro article .bordaInferiorTextoSobreMimCentroParte2 {
      bottom: 0;
      right: 0;
    }

   
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 p{
      color: #000;
      font-size: 16px;
      margin-bottom: 25px;
      padding: 0 0px;
    }
    .pg-inicial .sessaoSobreMimCentro .imagemCentroParte2 {
      padding-top: 50px;
    } 
    .pg-inicial .sessaoSobreMimCentro .imagemCentroParte1 {
      padding-top: 50px;
    }
    .pg-inicial .sessaoSobreMimTopo article .bordaInferiorTextoSobreMimTopo {
      bottom: -30px;
      right: 0px;
    }
    .pg-inicial .sessaoSobreMimTopo article .bordaSuperiorTextoSobreMimTopo {
      top: 0;
      left: 0;
    }
    .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo {
      max-width: 400px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro {
      max-width: 400px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 {
      max-width: 400px;
    }
  }

  @media(max-width: 991px){
    .pg-galeria section .galeria .listaDeImagensGaleria ul .fotoGaleria {
      width: 50%;
    }
    .pg-inicial .sessaoSobreMimCentro article{
      max-width: 420px;
    }
    .pg-inicial .sessaoSobreMimTopo article {
      max-width: 420px
    }
    .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo {
      max-width: 380px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro {
      max-width: 380px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 {
      max-width: 380px;
    }
  }
  @media(max-width: 860px){
    .pg-inicial .sessaoSobreMimTopo .textoSobreMimTopo .tituloPrincipal h1{
      padding-top: 14px;
      padding-bottom: 10px;
      }
    .pg-inicial .sessaoSobreMimCentro article{
      max-width: 400px;
    }
    .pg-inicial .sessaoSobreMimTopo article {
      max-width: 400px
    }
    .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo {
      max-width: 380px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro {
      max-width: 380px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 {
      max-width: 380px;
    }
    .pg-inicial .sessaoSobreMimTopo article {
      max-width: 400px;
    }
    .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo {
      max-width: 350px;
    }
  }
  @media(max-width: 767px){
     .pg-contato section.contactPortfolio .imagemContato figure img{
      padding: 25px;
    }

    .pg-contato section.contactPortfolio form .button{
      text-align: left;
    }
    .pg-contato section.contactPortfolio form .info {
       padding: 0 10px;
    }
    .pg-contato section.contactPortfolio form .textarea, .pg-contato section.contactPortfolio form .button {
       padding: 0 10px;
    }
    .pg-contato section.contactPortfolio .imagemContato {
    margin: 30px;
    padding: 38px;
    }

     .pg-contato section.contactPortfolio h6 {
      font-size: 18px;
      padding: 0 10px;  
    }
    .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .imagemCentralizada{
      right: 0;
      left: inherit;
    }
    .pg-inicial .sessaoSobreMimTopo article{
      padding-top: 40px;
      margin: 0 auto;
    }
    .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .areaTexto{
      max-width: 235px;
    }
    .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo .imagemLogoSobreMim figure img{
       display: block;
    }
    .botoesCarrosselParceria {
      display: none;
    }
    .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .areaTexto h2{
      font-size: 27px;
    }
    .pg-galeria section .descricaoGaleria .textosGaleria {
      padding: 0 15px 40px;
      min-height: 500px;
    }
    .pg-galeria section .descricaoGaleria .voltarPaginaAnterior {
      padding-left: 50px;
    }
    .pg-galeria section .descricaoGaleria .textosGaleria h2 {
      line-height: 55px;
      font-size: 48px;

    }
    .pg-galeria section .descricaoGaleria{
      min-height: 500px;  
    }
    .pg-galeria section .descricaoGaleria .textosGaleria p {
      font-size: 21px;
    }
    .pg-galeria section .galeria .listaDeImagensGaleria ul .fotoGaleria {
      width: 100%;
    }
    .pg-galeria section .galeria .listaDeImagensGaleria  ul .fotoGaleria figure {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%); 
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro p {
      font-size: 16px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 p {
      font-size: 16px;
      padding: 0px 20px;
    }
    .pg-inicial .sessaoSobreMimCentro .imagemCentroParte2 figure {
      width: 100%;
      margin: 0 auto;
    }
    .pg-inicial .sessaoSobreMimCentro .imagemCentroParte1 figure img{
      width: 100%;
      margin: 0 auto;
    }
    .pg-inicial .sessaoSobreMimCentro article .bordaSuperiorTextoSobreMimCentroParte2 {
      top: 25px;
      left: 0;
    }
    .pg-inicial .sessaoSobreMimCentro article .bordaInferiorTextoSobreMimCentroParte2 {
      right: 0;
    }
    .pg-inicial .sessaoSobreMimCentro .bordaInferiorTextoSobreMimCentro{ 
      bottom: 0px;
    }
    .pg-inicial .sessaoSobreMimCentro .imagemCentroParte1 {
      margin: 0 auto 50px auto;
    }
    .pg-inicial .sessaoSobreMimCentro article {
      padding-top: 30px;
      max-width: 516px;
    }
    .pg-inicial .sessaoSobreMimCentro article .bordaSuperiorTextoSobreMimCentroParte2,
    .pg-inicial .sessaoSobreMimCentro article .bordaInferiorTextoSobreMimCentroParte2,
    .pg-inicial .sessaoSobreMimTopo article .bordaInferiorTextoSobreMimTopo,
    .pg-inicial .sessaoSobreMimTopo article .bordaSuperiorTextoSobreMimTopo,
    .pg-inicial .sessaoSobreMimCentro .bordaSuperiorTextoSobreMimCentro,
    .pg-inicial .sessaoSobreMimCentro .bordaInferiorTextoSobreMimCentro
    {
      display: none;
    } 
    .pg-inicial .sessaoSobreMimCentro .row {
      padding: 0px 0;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro {
      padding-top: 0;
    }
    .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .fecharModalDetalhesPortfolio {
      z-index: 999;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentro .imagemLogoSobreMim {
      padding-top: 15px;
    }
    .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 {
      padding: 0;
      margin: 15px auto;
    }
    .paralaxCentral {
      background-attachment: initial!important;
    }
    .pg-inicial .carrosselDestaque .item {
      min-height: 500px;
    }
    .pg-inicial .estatisticas figure img {
      width: 100%;
    }
    .pg-inicial .sessaoQualidades .areaQualidades figure {
      width: 100%;
      max-width: 130px;
    }
    .pg-inicial .sessaoQualidades .areaQualidades figure img{
      width: 100%;
    }
    .pg-inicial .sessaoQualidades .areaQualidades .textoQualidades p {
      padding-top: 25px;
      font-size: 21px;
    }
    .pg-inicial .sessaoQualidades .areaQualidades .textoQualidades {
      width: 90%;
      margin: 0 auto;
    }
    .pg-inicial .carrosselDepoimentos h6 {
      text-align: center;
      margin-left: 0;
      padding-left: 0;
    }
    .pg-inicial .sessaoQualidades .areaQualidades .textoQualidades p {
        padding-top: 25px;
        text-align: center;
      }
      .pg-inicial .sessaoQualidades .segundaImagemTextoQualidades {
        width: 100%;
        max-width: 130px;
      }
      .pg-inicial .sessaoQualidades .segundaImagemTextoQualidades img {
        width: 100%;
      }
      .pg-inicial .carrosselParceria .item a img {
        margin: 0 auto;
      }
      .rodape .copyright p {
        padding-bottom: 20px;
      }
      .pg-inicial .sessaoQualidades .textoQualidades2 p {
        font-size: 21px;
        padding: 0 15px;
        text-align: center;
        margin-top: 0;
      }
      .pg-inicial .sessaoQualidades .textoQualidades2 {
        margin: 70px auto 0;
      }
      .pg-inicial .sessaoSobreMimTopo {
        padding-bottom: 0;
      }
      .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo .imagemLogoSobreMim {
        padding-top: 20px;
      }
      .pg-inicial .carrosselDestaque h6{
        padding-top: 15px;
        text-align: center;
      }
      .pg-inicial .carrosselParceria h6 {
        padding-left: 0;
        text-align: center;

      }
      .pg-galeria section .galeria .listaDeImagensGaleria ul .fotoGaleria {
        height: auto;
      }
      .rodape .copyright {
        margin-top: 29px;
        padding: 10px;
      }
      .topo .navbar button {
        display: block;
        position: absolute;
        right: 0;
        top: -43px;
      }
      .topo .navbar {
        background: #000;
      }
      .topo .navbar .navbar-header nav ul li {
        display: block;
        text-align: left;
      }
      .pg-inicial .sessaoQualidades {
        padding: 10px;
      }
      .topo .logo img {
        margin: 0 auto;
        margin-top: 5px;
      }
      .pg-inicial .sessaoSobreMimTopo {
          padding-top: 20px;
      }
      .pg-parceria .formularioParceria input[type="text"] {
        width: 90%;
        display: block
      }
      .pg-parceria .formularioParceria input[type="submit"] {
        margin: 5px auto;
      }
      .pg-parceria .formularioParceria textarea {
        max-width: 90%;
      }
      .pg-parceria .formularioParceria select {
        width: 46%; 
      }
      .pg-parceria .formularioParceria span {
        width: 45%;
      }
      .nav>li>a {
        padding: 10px 20px;
      }
  }

   @media(max-width: 610px){
   
   
    .pg-contato section.contactPortfolio .imagemContato {
      margin: 15px 0;
      padding: 15px 0;
}

  @media(max-width: 500px) {
    
    .pg-inicial .sessaoSobreMimTopo article {
      margin: 0 auto;
      padding: 25px;
    }
    .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .imagemCentralizada {
      max-width: 209px;
    }
  }

  @media(max-width: 425px){
      .pg-inicial .instagramFooter h6{
        font-size: 44px;
      }

      .rodape .redesSociais a{
        font-size: 25px;
      }

      .pg-inicial .carrosselDepoimentos .item article p{
        font-size: 17px;
        text-align: center;
        margin: 0;
        padding: 10px;
      }
      .botoesCarrosselParceria {
       display: none;
      }
      .pg-galeria section .descricaoGaleria .textosGaleria h2 {
        font-size: 42px;
        line-height: 51px;
        padding-left: 22px;
        margin-left:0;
      }
      .pg-galeria section .descricaoGaleria .voltarPaginaAnterior {
        padding-left: 20px;
      }
      .pg-galeria section .descricaoGaleria .textosGaleria {
        padding: 0 15px 40px 25px;
      }
      .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo .bordaSuperiorTextoSobreMimTopo{ 
        top: -15px;
        left: -15px
      }
      .pg-inicial .sessaoSobreMimTopo article .textoSobreMimTopo .bordaInferiorTextoSobreMimTopo{
        bottom: -25px;
        right: 17px;
        max-width: 285px;
        min-height: 113px;
      }
      .pg-inicial .sessaoSobreMimCentro .imagemCentroParte1 {
        padding-top: 65px;
      }
      .pg-inicial .sessaoSobreMimCentro .bordaInferiorTextoSobreMimCentro {
        right: 10px;
      }
      .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2{
        padding-top: 0;
      }
      .pg-inicial .sessaoSobreMimCentro article {
        margin: 0;
        padding: 30px;
      }
      .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 .bordaInferiorTextoSobreMimCentroParte2{
        left: -15px;
      }
      .pg-inicial .sessaoSobreMimCentro article .textoSobreMimCentroParte2 .bordaSuperiorTextoSobreMimCentroParte2 {
        left: -15px;
      }
      
  }

  @media(max-width: 390px){
    .pg-inicial .carrosselDestaque .detalhesCarrosselServicos .areaTexto a{
      margin: 95px auto 0;
    }

    .pg-galeria section .descricaoGaleria .textosGaleria p {
      margin: 0 auto;
    }
  
  }

   @media(max-width: 320px){
    .botoesCarrosselParceria {
      display: none;
    }
  }
